mot cle:<input type="text" [(ngModel)]="texte">


<table class="table" *ngIf="productsF;else vide" border="1">
    <thead class="thead-dark">
    <tr>
        <th  scope="col"><button (click)=afficher()>{{valeurB}}</button></th>
        <th scope="col">id</th>
        <th scope="col">nom</th>
        <th scope="col">prix</th>
        <th scope="col">quantite</th>
        <th scope="col">@</th>

    </tr>
</thead>
    <tr *ngFor=" let p of productsF" [ngStyle]="{color:getColor(p.quantite)}" >
        <td ><img *ngIf="valeurB=='masquer'" src="http://localhost:8281/rest/images/{{p.id}}" width="50" height="50"></td>
        <td>{{p.id}}</td>
        <td> <a [routerLink]="['/produit',p.id]">{{p.nom|uppercase}}</a></td>
        <td>{{p.prix|currency:'TND':'symbol':'2.2-2'}}</td>
        <td>{{p.quantite}}</td>
        <td><button class="btn btn-danger" (click)=supp(p.id)>
            <span class="fa fa-trash" ></span>  </button>
            <button  class="btn btn-warning"   ><a [routerLink]="['/produitt',p.id]">a</a><span class="fa fa-edit"></span> </button></td>
    </tr>

</table>
<ng-template #vide><h2 style="color:red"> TABLEAU VIDE</h2></ng-template>


<!-- id :{{produit?.id}}
<br>
nom :{{produit?.nom}}
<br> -->